<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <!-- <link rel="stylesheet" src="/src/quill.bubble.css" />  prevent CORS issue for screenshot -->
    
    <!-- disable user custom zoom -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Clipclip</title>
    <script type="module" crossorigin src="/assets/index-CXgHN_-T.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-BArHuF0W.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
